In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('./Groceries.csv')

In [13]:
df['Date'] = pd.to_datetime(df['Date'])

In [18]:
df['Year'] = df['Date'].apply(lambda x:x.year)

In [19]:
df['Month'] = df['Date'].apply(lambda x:x.month)

In [20]:
df.isnull().sum()

Member_number      0
Date               0
itemDescription    0
Year               0
Month              0
dtype: int64

       Member_number       Date        itemDescription  Year  Month
0               1808 2015-07-21         tropical fruit  2015      7
1               2552 2015-05-01             whole milk  2015      5
2               2300 2015-09-19              pip fruit  2015      9
3               1187 2015-12-12       other vegetables  2015     12
4               3037 2015-01-02             whole milk  2015      1
...              ...        ...                    ...   ...    ...
38760           4471 2014-08-10          sliced cheese  2015      8
38761           2022 2014-02-23                  candy  2015      2
38762           1097 2014-04-16               cake bar  2015      4
38763           1510 2014-03-12  fruit/vegetable juice  2015      3
38764           1521 2014-12-26               cat food  2015     12

[38765 rows x 5 columns]