source: 'https://medium.com/@jdwittenauer/deep-learning-with-keras-recommender-systems-e7b99cb29929'

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
PATH = './ml-latest-small/'
ratings = pd.read_csv(PATH + 'ratings.csv')
ratings.head()

In C:\Users\Arunabh\miniconda3\envs\tensorflow\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\Arunabh\miniconda3\envs\tensorflow\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\Arunabh\miniconda3\envs\tensorflow\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In C:\Users\Arunabh\miniconda3\envs\tensorflow\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\Arunabh\miniconda3\envs\tensorflow\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\Arunabh\miniconda3\envs\tensorflow\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\Arunabh\miniconda3\envs\tensorflow\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\Arunabh\miniconda3\envs\tensorflow\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

* The data is tabular and consists of a user ID, a movie ID, and a rating (there’s also a timestamp but we won’t use it for this task). 
* Our task is to predict the rating for a user/movie pair, with the idea that if we had a model that’s good at this task then we could predict how a user would rate movies they haven’t seen yet and recommend movies with the highest predicted rating.
* The zip file also includes a listing of movies and their associated genres. We don’t actually need this for the model but it’s useful to know about.

#### Top 15 users and movies displayed below

In [2]:
g = ratings.groupby('userId')['rating'].count()
top_users = g.sort_values(ascending=False)[:15]
g = ratings.groupby('movieId')['rating'].count()
top_movies = g.sort_values(ascending=False)[:15]
top_r = ratings.join(top_users, rsuffix='_r', how='inner', on='userId')
top_r = top_r.join(top_movies, rsuffix='_r', how='inner', on='movieId')
pd.crosstab(top_r.userId, top_r.movieId, top_r.rating, aggfunc=np.sum)

movieId,1,50,110,260,296,318,356,480,527,589,593,1196,2571,2858,2959
userId,,,,,,,,,,,,,,,
68,2.5,3.0,2.5,5.0,2.0,3.0,3.5,3.5,4.0,3.5,3.5,5.0,4.5,5.0,2.5
182,4.0,4.5,3.5,3.5,5.0,4.5,5.0,3.5,4.0,2.0,4.5,3.0,5.0,5.0,5.0
249,4.0,4.0,5.0,5.0,4.0,4.5,4.5,4.0,4.5,4.0,4.0,5.0,5.0,4.5,5.0
274,4.0,4.0,4.5,3.0,5.0,4.5,4.5,3.5,4.0,4.5,4.0,4.5,4.0,5.0,5.0
288,4.5,NaN,5.0,5.0,5.0,5.0,5.0,2.0,5.0,4.0,5.0,4.5,3.0,NaN,3.5
307,4.0,4.5,3.5,3.5,4.5,4.5,4.0,3.5,4.5,2.5,4.5,3.0,3.5,4.0,4.0
380,5.0,4.0,4.0,5.0,5.0,3.0,5.0,5.0,NaN,5.0,5.0,5.0,4.5,NaN,4.0
387,NaN,4.5,3.5,4.5,5.0,3.5,4.0,3.0,NaN,3.5,4.0,4.5,4.0,4.5,4.5
414,4.0,5.0,5.0,5.0,5.0,5.0,5.0,4.0,4.0,5.0,4.0,5.0,5.0,5.0,5.0
448,5.0,4.0,NaN,5.0,5.0,NaN,3.0,3.0,NaN,3.0,5.0,5.0,2.0,4.0,4.0
474,4.0,4.0,3.0,4.0,4.0,5.0,3.0,4.5,5.0,4.0,4.5,5.0,4.5,3.5,4.0
599,3.0,3.5,3.5,5.0,5.0,4.0,3.5,4.0,NaN,4.5,3.0,5.0,5.0,5.0,5.0
603,4.0,NaN,1.0,4.0,5.0,NaN,3.0,NaN,3.0,NaN,5.0,3.0,5.0,5.0,4.0
606,2.5,4.5,3.5,4.5,5.0,3.5,4.0,2.5,5.0,3.5,4.5,4.5,5.0,4.5,5.0
610,5.0,4.0,4.5,5.0,5.0,3.0,3.0,5.0,3.5,5.0,4.5,5.0,5.0,3.5,5.0

In [3]:
user_enc = LabelEncoder()
ratings['user'] = user_enc.fit_transform(ratings['userId'].values)
n_users = ratings['user'].nunique()

In [6]:
item_enc = LabelEncoder()
ratings['movie'] = item_enc.fit_transform(ratings['movieId'].values)
n_movies = ratings['movie'].nunique()

In [7]:
ratings

        userId  movieId  rating   timestamp  user  movie
0            1        1     4.0   964982703     0      0
1            1        3     4.0   964981247     0      2
2            1        6     4.0   964982224     0      5
3            1       47     5.0   964983815     0     43
4            1       50     5.0   964982931     0     46
...        ...      ...     ...         ...   ...    ...
100831     610   166534     4.0  1493848402   609   9416
100832     610   168248     5.0  1493850091   609   9443
100833     610   168250     5.0  1494273047   609   9444
100834     610   168252     5.0  1493846352   609   9445
100835     610   170875     3.0  1493846415   609   9485

[100836 rows x 6 columns]

In [8]:
ratings['rating'] = ratings['rating'].values.astype(np.float32)
min_rating = min(ratings['rating'])
max_rating = max(ratings['rating'])
n_users, n_movies, min_rating, max_rating

(610, 9724, 0.5, 5.0)

In [9]:
ratings

        userId  movieId  rating   timestamp  user  movie
0            1        1     4.0   964982703     0      0
1            1        3     4.0   964981247     0      2
2            1        6     4.0   964982224     0      5
3            1       47     5.0   964983815     0     43
4            1       50     5.0   964982931     0     46
...        ...      ...     ...         ...   ...    ...
100831     610   166534     4.0  1493848402   609   9416
100832     610   168248     5.0  1493850091   609   9443
100833     610   168250     5.0  1494273047   609   9444
100834     610   168252     5.0  1493846352   609   9445
100835     610   170875     3.0  1493846415   609   9485

[100836 rows x 6 columns]

In [10]:
X = ratings[['user', 'movie']].values
y = ratings['rating'].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape
((90003, 2), (10001, 2), (90003,), (10001,))

((90003, 2), (10001, 2), (90003,), (10001,))

Finally, we need to turn users and movies into separate arrays in the training and test data.

This is because in Keras they’ll each be defined as distinct inputs, and the way Keras works is each input needs to be fed in as its own array.

In [11]:
n_factors = 50
X_train_array = [X_train[:, 0], X_train[:, 1]]
X_test_array = [X_test[:, 0], X_test[:, 1]]

The main idea here is we’re going to use embeddings to represent each user and each movie in the data. 

These embeddings will be vectors (of size n_factors) that start out as random numbers but are fit by the model to capture the essential qualities of each user/movie. 

We can accomplish this by computing the dot product between a user vector and a movie vector to get a predicted rating. The code is fairly simple, there isn’t even a traditional neural network layer or activation involved. 

We have performed some regularization on the embedding layers and used a different initializer but even that probably isn’t necessary. Notice that this is where we need the number of unique users and movies, since those are required to define the size of each embedding matrix.

In [13]:
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Reshape, Dot
from tensorflow.keras.layers import Embedding
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.regularizers import l2

def RecommenderV1(n_users, n_movies, n_factors):
    user = Input(shape=(1,))
    u = Embedding(n_users, n_factors, embeddings_initializer='he_normal',
                  embeddings_regularizer=l2(1e-6))(user)
    u = Reshape((n_factors,))(u)
    
    movie = Input(shape=(1,))
    m = Embedding(n_movies, n_factors, embeddings_initializer='he_normal',
                  embeddings_regularizer=l2(1e-6))(movie)
    m = Reshape((n_factors,))(m)
    
    x = Dot(axes=1)([u, m])
    model = Model(inputs=[user, movie], outputs=x)
    opt = Adam(lr=0.001)
    model.compile(loss='mean_squared_error', optimizer=opt)
    return model

In [14]:
model = RecommenderV1(n_users, n_movies, n_factors)
model.summary()

Model: "model"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_1 (InputLayer)            [(None, 1)]          0
__________________________________________________________________________________________________
input_2 (InputLayer)            [(None, 1)]          0
__________________________________________________________________________________________________
embedding (Embedding)           (None, 1, 50)        30500       input_1[0][0]
__________________________________________________________________________________________________
embedding_1 (Embedding)         (None, 1, 50)        486200      input_2[0][0]
__________________________________________________________________________________________________
reshape (Reshape)               (None, 50)           0           embedding[0][0]
__________________________________________________________________________________________________
reshape_1 (Reshape)             (None, 50)           0           embedding_1[0][0]
__________________________________________________________________________________________________
dot (Dot)                       (None, 1)            0           reshape[0][0]
                                                                 reshape_1[0][0]
==================================================================================================
Total params: 516,700
Trainable params: 516,700
Non-trainable params: 0
__________________________________________________________________________________________________

In [15]:
history = model.fit(x=X_train_array, y=y_train, batch_size=64, epochs=5,
                    verbose=1, validation_data=(X_test_array, y_test))

Epoch 1/5
1418/1418 [==============================] - 10s 6ms/step - loss: 12.1408 - val_loss: 3.1595
Epoch 2/5
1418/1418 [==============================] - 8s 6ms/step - loss: 2.3141 - val_loss: 1.6254
Epoch 3/5
1418/1418 [==============================] - 8s 6ms/step - loss: 1.1591 - val_loss: 1.3598
Epoch 4/5
1418/1418 [==============================] - 8s 5ms/step - loss: 0.8638 - val_loss: 1.2759
Epoch 5/5
1418/1418 [==============================] - 8s 5ms/step - loss: 0.7222 - val_loss: 1.2427