In [1]:
import pandas as pd
import numpy as np

#### Load Titanic Data

In [2]:
df_titanic = pd.read_csv('./train.csv')

In [68]:
###

In [3]:
df_titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
df_titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
df_titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [10]:
y = df_titanic['Survived']

In [11]:
X = df_titanic.drop(['Survived','Name','PassengerId','Cabin','Ticket'],axis=1)

In [12]:
X = pd.get_dummies(X)

In [13]:
X

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,3,22.0,1,0,7.2500,0,1,0,0,1
1,1,38.0,1,0,71.2833,1,0,1,0,0
2,3,26.0,0,0,7.9250,1,0,0,0,1
3,1,35.0,1,0,53.1000,1,0,0,0,1
4,3,35.0,0,0,8.0500,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...
886,2,27.0,0,0,13.0000,0,1,0,0,1
887,1,19.0,0,0,30.0000,1,0,0,0,1
888,3,NaN,1,2,23.4500,1,0,0,0,1
889,1,26.0,0,0,30.0000,0,1,1,0,0
890,3,32.0,0,0,7.7500,0,1,0,1,0

In [14]:
#X = X.dropna(axis=1,how='all')

In [17]:
#X.shape

In [18]:
X['Age'] = X['Age'].fillna(method = 'ffill')

In [19]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [20]:
# split X and y into training and testing sets
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0,stratify=y)

In [22]:
# import the class
from sklearn.linear_model import LogisticRegression

# instantiate the model (using the default parameters)
logreg = LogisticRegression()

# fit the model with data
logreg.fit(X_train,y_train)

#
y_pred=logreg.predict(X_test)

C:\Users\Arunabh\miniconda3\envs\tensorflow\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [23]:
# import the metrics class
from sklearn import metrics
cnf_matrix = metrics.confusion_matrix(y_test, y_pred)
cnf_matrix

array([[119,  18],
       [ 32,  54]], dtype=int64)

In [24]:
from sklearn.metrics import accuracy_score,precision_score,recall_score, f1_score

In [25]:
accuracy_score(y_test,y_pred)

0.7757847533632287

In [26]:
precision_score(y_test,y_pred)

0.75

In [27]:
recall_score(y_test,y_pred)

0.627906976744186

In [28]:
f1_score(y_test,y_pred)

0.6835443037974683

### Using statsmodels api

In [29]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [91]:
X.columns

Index(['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Sex_female', 'Sex_male',
       'Embarked_C', 'Embarked_Q', 'Embarked_S'],
      dtype='object')

In [30]:
formula = 'Survived ~ Pclass + Age +SibSp + Parch + Fare + Sex_female + Sex_male + Embarked_C + Embarked_Q + Embarked_S'

In [32]:
X['Survived'] = y

In [34]:
model1 = smf.glm(formula = formula, data=X, family=sm.families.Binomial())
result = model1.fit()
print(result.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  891
Model:                            GLM   Df Residuals:                      881
Model Family:                Binomial   Df Model:                            9
Link Function:                  logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -392.80
Date:                Tue, 02 Feb 2021   Deviance:                       785.59
Time:                        12:05:57   Pearson chi2:                     897.
No. Iterations:                    19
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     14.5520   8222.845      0.002      0.999   -1.61e+04    1.61e+04
Pclass        -1.0675      0.142     -7.513      0.000      -1.346      -0.789
Age           -0.0341      0.007     -4.978      0.000      -0.047      -0.021
SibSp         -0.3181      0.109     -2.913      0.004      -0.532      -0.104
Parch         -0.0970      0.118     -0.822      0.411      -0.328       0.134
Fare           0.0022      0.002      0.935      0.350      -0.002       0.007
Sex_female     8.6535   4111.423      0.002      0.998   -8049.587    8066.894
Sex_male       5.8985   4111.423      0.001      0.999   -8052.342    8064.139
Embarked_C   -18.1689   1.23e+04     -0.001      0.999   -2.42e+04    2.42e+04
Embarked_Q   -18.1629   1.23e+04     -0.001      0.999   -2.42e+04    2.42e+04
Embarked_S   -18.5822   1.23e+04     -0.002      0.999   -2.42e+04    2.42e+04
==============================================================================

#### Using statsmodels Logit Function
source: https://www.geeksforgeeks.org/logistic-regression-using-statsmodels/

In [35]:
X_train

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
671,1,31.0,1,0,52.0000,0,1,0,0,1
417,2,18.0,0,2,13.0000,1,0,0,0,1
634,3,9.0,3,2,27.9000,1,0,0,0,1
323,2,22.0,1,1,29.0000,1,0,0,0,1
379,3,19.0,0,0,7.7750,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...
131,3,20.0,0,0,7.0500,0,1,0,0,1
490,3,9.0,1,0,19.9667,0,1,0,0,1
528,3,39.0,0,0,7.9250,0,1,0,0,1
48,3,19.0,2,0,21.6792,0,1,1,0,0
80,3,22.0,0,0,9.0000,0,1,0,0,1

In [36]:
y_train

671    0
417    1
634    0
323    1
379    0
      ..
131    0
490    0
528    0
48     0
80     0
Name: Survived, Length: 668, dtype: int64

In [37]:
log_reg = sm.Logit(y_train, X_train).fit()

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.427598
         Iterations: 35

C:\Users\Arunabh\miniconda3\envs\tensorflow\lib\site-packages\statsmodels\base\model.py:568: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

In [38]:
log_reg.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  668
Model:                          Logit   Df Residuals:                      658
Method:                           MLE   Df Model:                            9
Date:                Tue, 02 Feb 2021   Pseudo R-squ.:                  0.3576
Time:                        12:08:07   Log-Likelihood:                -285.64
converged:                      False   LL-Null:                       -444.64
Covariance Type:            nonrobust   LLR p-value:                 3.937e-63
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Pclass        -1.1521      0.168     -6.865      0.000      -1.481      -0.823
Age           -0.0412      0.008     -4.997      0.000      -0.057      -0.025
SibSp         -0.3747      0.136     -2.752      0.006      -0.641      -0.108
Parch         -0.0687      0.141     -0.486      0.627      -0.346       0.208
Fare           0.0024      0.003      0.925      0.355      -0.003       0.007
Sex_female    19.3413   2331.651      0.008      0.993   -4550.610    4589.292
Sex_male      16.4895   2331.651      0.007      0.994   -4553.462    4586.441
Embarked_C   -13.9268   2331.650     -0.006      0.995   -4583.878    4556.024
Embarked_Q   -13.9267   2331.650     -0.006      0.995   -4583.878    4556.024
Embarked_S   -14.2421   2331.650     -0.006      0.995   -4584.193    4555.709
==============================================================================
"""

In [39]:
yhat = log_reg.predict(X_test) 
prediction = list(map(round, yhat))

In [40]:
accuracy_score(y_test,prediction)

0.7847533632286996

In [41]:
f1_score(y_test,prediction)

0.7037037037037037